---
import Javascript from "./icons/JavaScript.astro";
import Html from "./icons/Html.astro";
import Bootstrap from "./icons/Bootstrap.astro";
import Css from "./icons/Css.astro";
import Java from "./icons/Java.astro";
import MySQL from "./icons/MySQL.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import Tailwind from "./icons/Tailwind.astro";
import TypeScript from "./icons/TypeScript.astro";

const TAGS = {
    ASTRO:{
        name: "Astro",
        class: "bg-black text-yellow-500",
        icon:AstroIcon,
    },
    JAVASCRIPT: {
        name: "JavaScript",
        class: "bg-black text-yellow-500",
        icon:Javascript,
    },
    HTML: {
        name: "Html",
        class: "bg-black text-orange-500",
        icon:Html,
    },
    BOOTSTRAP: {
        name: "Bootstrap",
        class: "bg-black text-purple-500",
        icon:Bootstrap,
    },
    CSS: {
        name: "Css",
        class: "bg-black text-blue-500",
        icon:Css,
    },
    JAVA: {
        name: "Java",
        class: "bg-black text-red-500",
        icon:Java,
    },
    MYSQL: {
        name: "MySql",
        class: "bg-black text-blue-500",
        icon:MySQL,
    },
    TAILWIND: {
        name: "Tailwind",
        class: "bg-black text-blue-500",
        icon:Tailwind,
    },
    TYPESCRIPT: {
        name: "TypeScript",
        class: "bg-black text-blue-500",
        icon:TypeScript,
    },

};

const PROJECTS = [
{
        title: "Clon web de Los Premios Esland",
        description:
            "Proyecto realizado con la comunidad de Minidudev",
        image: "/projects/proj004.webp",
        link: "https://www.google.com",
        tags: [ TAGS.ASTRO,TAGS.TYPESCRIPT,TAGS.JAVASCRIPT,TAGS.TAILWIND],
    },
    {
        title: "Landig Page viva-rentable.com",
        description:
            "Proyecto realizado para una empresa de que muestra oportunidades de inveriones en Perú",
        image: "/projects/proj001.webp",
        link: "https://www.google.com",
        tags: [ TAGS.HTML,TAGS.CSS,TAGS.JAVASCRIPT,TAGS.BOOTSTRAP],
    },
    {
        title: "Landing page Playas de Perú",
        description:
            "Proyecto realizado para mejorar mis habilidades en CSS y HTML",
        image: "/projects/proj002.webp",
        link: "https://www.google.com",
        tags: [ TAGS.HTML,TAGS.CSS,TAGS.JAVASCRIPT],
    },
    {
        title: "ArepaJuegos - CRUD de videojuegos",
        description:
            "Proyecto del instituto para la materia de programación orientada a objetos",
        image: "/projects/proj003.webp",
        link: "https://www.google.com",
        tags: [ TAGS.HTML,TAGS.CSS,TAGS.JAVA,TAGS.MYSQL,TAGS.BOOTSTRAP],
    },
];
---

{
    PROJECTS.map(({ image, title, description, tags }) => (
        <article class="pb-[80px]">
            <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
            <p class="text-lg mb-4 text-pretty">{description}</p>
            <ul class="flex gap-x-2 flex-row">
                {tags.map((tag) => (
                    <li>
                        <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                            <tag.icon class="size-4" />
                            {tag.name}
                        </span>

                    </li>
                ))}
            </ul>
            <img
                class="rounded shadow-2xl shadow-white/10"
                src={image}
                alt={`captura de pantalla del proyecto ${image}`}
            />
        </article>
    ))
}
